


 <form action="/square/results">
  <label for="pink">Enter a number</label>
  <input id="pink" type="text" placeholder="What number do you want to square?"

   name="blue">


     <button>Calculate square</button>
</form>
