

 <form action="/square_root/results">
  <label for="pink">Enter a number</label>
  <input id="pink" type="text" placeholder="What number do you want to square root?"

   name="blue">


     <button>Calculate square root</button>
</form>



  